# Node.js dependencies
node_modules/

# Build files
build/
dist/

# Environment variables
.env
client/.env
audio-websocket-server/.env
api/.env

# Logs
logs/
*.log

# System files
.DS_Store
.idea/
.vscode/
