.rootLayout {
    padding: 16px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
  }
  
  .menu-toggle {
    display: none;
    position: absolute;
    top: 0px;
    left: -20px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 8px;
  }
  
  .logo img {
    width: 32px;
    height: 32px;
  }
  
  .user {
    margin-left: auto;
  }
  
  main {
    flex: 1;
    overflow: hidden;
  }
  
  /* Styles to show logo on auth pages regardless of screen size */
  .rootLayout.auth-page .logo {
    display: flex;  
  }
  
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    .rootLayout {
      padding: 16px;
    }
  
    header {
      padding: 0px 0;
      justify-content: space-between;
      gap: 20px;
    }
  
    .menu-toggle {
      display: block;
      position: relative;
      left: 0px;
      top: 5px;
    }
  
    /* Hides the logo on *non*-auth pages on small screens */
    .rootLayout:not(.auth-page) .logo {
      display: none;
    }
  }